body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  @media screen and (max-width: 400px) {
    .MuiDialog-paper {
      margin: 10px !important;
    }
  }