body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  @media screen and (max-width: 400px) {
    .MuiDialog-paper {
      margin: 10px !important;
    }
  }

  @media screen and (max-width: 500px) {
    .MuiPaper-root {
      width: 100vh !important;
    }
  }